<div class="wrapper">
    <!-- Sidebar Holder -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>Bienvenido</h3>
        </div>
        <ul class="list-unstyled components">
            <li>
                <a href="{{path('home')}}"><i class="fa fa-bars"></i> Dashboard</a>
            </li>
            <li>
                <a href="{{path('inventory')}}"><i class="fa fa-book-open"></i> Inventario</a>
            </li>
            <li>
                <a href="{{path('purchases')}}"><i class="fa fa-shopping-cart"></i> Compras</a>
            </li>
            <li>
                <a href="{{path('activations')}}"><i class="fa fa-mobile-alt"></i> Activaciones</a>
            </li>
            <li>
                <a href="{{path('credit_notes')}}"><i class="fa fa-donate"></i> Notas de Crédito</a>
            </li>
            <li>
                <a href="{{path('configuration')}}"><i class="fa fa-cogs"></i> Configuración</a>
            </li>
        </ul>
    </nav>
    <!-- Page Content Holder -->
    <div id="content">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <button type="button" id="sidebarCollapse" class="navbar-btn">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
                <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-align-justify"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="nav navbar-nav ml-auto">
                        {% block nav %} {% endblock %}
                        <!--<li class="nav-item text-left">
                            <a class="nav-link" href="/">Button</a>
                        </li>-->
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container clearfix">
            {% block content %}{% endblock %}
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').toggleClass('active');
            $(this).toggleClass('active');
        });
    });
</script>